*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  color: var(--text-color);
  font-size: 62.5%;
}

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0D0D0D;
}

html { 
  scroll-behavior: smooth; 
}

#presentation-container {
  width: 100%;
  height: 100rem;
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5.2rem 8.2rem 0 8.2rem;
}

/* --------------------------------------NAVBAR */

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9rem;
}

#navbar ul {
  width: 34rem;
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
}

#navbar > ul > li {
  color: var(--text-color);
  list-style: none;
  font-weight: 500;
  font-size: 1.8rem;
  cursor: pointer;

}

#navbar > button {
  width: 23rem;
  height: 5rem;
  display: flex;

  border: none;
  cursor: pointer;

  font-weight: 700;
  font-size: 1.6rem;
  color: var(--black-text);

  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

/* ------------------------------------------presentation-text */

#presentation {
  height: 24.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}

#presentation-text > p {
  width: 40rem;
  margin-bottom: 5.5rem;
  font-weight: 500;
  font-size: 1.8rem;
}

#artists-img {
  display: flex;
  flex-direction: row;
 }

#artists-text {
  height: 4.8rem;
  margin: 2.5rem 0 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  font-size: 2rem;
}

#artists-text > strong{
  margin-bottom: 1rem;
}

#main-text {
  width: 60rem;
  font-weight: 700;
  font-size: 5rem;
}

#main-text > strong {
  font-weight: 700;
  font-size: 5rem;
  color: var(--color-logo);
}

/* ------------------------------------------------picture-boxes */

#picture-boxes {
  width: 100%;
  height: 46rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

#picture-boxes > img {
  border: 0.1rem solid white;
}

#picture-boxes .first-line{
  margin-bottom: 6rem;
}

/* -------------------------------------------------second-part */

#second-part {
  width: 100%;
  height: 66rem;
  background-color: var(--body-background);
  display: grid;
  grid-template-areas: 
  "numbers text"
  "numbers image";
}

#numbers {
  grid-area: numbers;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1rem solid var(--card-color);
  border-right: 0.1rem solid var(--card-color);
}

#numbers > strong{
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

#numbers > span{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 7rem;
  color: var(--subtitle-color);
}

#text-container {
  grid-area: text;
  height: 35.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9rem;
}

.text-content > p{
  width: 50rem;
  flex-wrap: wrap;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 6rem;
}

.text-content > p > a{
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-logo);
}

.text-content > a{
  font-size: 1.8rem;
  font-weight: 500;
}

#image-content {
  grid-area: image;
  height: 30rem;
  background-image: url(./assets/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* -----------------------------------------------popular-week */

#popular-week {
  height: 123.8rem;
  background-color: var(--body-background);
  padding: 15rem 9rem;
  display: flex;
  flex-direction: column;
}

.title > h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 15.8rem;
}

.title > h1 > strong {
  font-size: 5rem;
  font-weight: 700;
  color: var(--color-logo);
}

#columns {
  display: flex;
}

#colum-one {
  width: 90rem;
  border-right: 0.1rem solid var(--subtitle-color);
  flex-direction: column;
}

.image-cards {
  width: 36rem;
  height: 32rem;
  display: grid;
  grid-template-areas: 
  "subtitle arrow"
  "name span-number"
  "image image";
  margin-bottom: 7rem;
}

.image-cards > h2 {
  grid-area: subtitle;
  font-size: 3rem;
  font-weight: 500;
}

.image-cards > #arrow , strong {
  justify-self: end;
}

#arrow {
  grid-area: arrow;
}

.image-cards > strong {
  grid-area: span-number;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-logo);
}

.name-artist {
  grid-area: name;
  font-size: 2rem;
  font-weight: 500;
  color: var(--subtitle-color);
}

.astronaut-image {
  grid-area: image;
}

#colum-two {
  width: 90rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* --------------------------------------------best-artists */

#best-artists {
  height: 90rem;
  padding: 0 9rem 16rem 9rem;
  background-color: var(--body-background);
  text-align: center;
}

#best-artists > .title {
  width: 100%;
  margin-bottom: 12rem;
}

#best-artists-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.artist-container {
  width: 35rem;
  height: 15rem;
  background-color: var(--card-color);
  align-items: center;
  padding: 2.5rem 1.8rem 2.5rem 3.2rem;
  display: grid;
  grid-template-areas: 
  "photo artist"
  "photo jobs";
}

.artist-container > img {
  grid-area: photo;
}

.artist-container > span {
  grid-area: artist;
  font-size: 2rem;
  font-weight: 500;
}

.artist-container > strong {
  grid-area: jobs;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-logo);
}

.artist-container:hover{
  background-color: var(--color-logo);
}

.artist-container:hover > strong{
  color: var(--text-color);
}

.row-one {
  margin-bottom: 11rem;
}

#see-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}

#see-all > span {
  font-size: 2rem;
  font-weight: 500;
}

/* ------------------------------------------footer */

#footer {
  height: 71rem;
  background-color: var(--card-color);
}

#back-top {
  display: flex;
  justify-content: space-between;
  padding: 8.2rem 8.8rem 6rem 8rem;
}

#back-top > button {
  width: 8rem;
  height: 8rem;
  background-color: var(--color-logo);
  cursor: pointer;
}

#contact-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  flex-direction: row;
  border-top: 0.1rem solid var(--subtitle-color);
  border-bottom: 0.1rem solid var(--subtitle-color);
}

#contact {
  width: 54.4rem;
  height: 32.4rem;
  border-right: 0.1rem solid var(--subtitle-color);
  padding: 6.7rem 5rem 8.2rem 8rem;
}

#contact > span {
  font-size: 3rem;
  font-weight: 500;
}

#contact > span > strong {
  font-size: 3rem;
  font-weight: 500;
  color: var(--color-logo);
  margin-bottom: 3rem;
}

#email-contact {
  margin-top: 3rem;
}

#email-contact > input {
  width: 28rem;
  height: 6.6rem;
  background-color: var(--body-background);
  font-size: 2rem;
  font-weight: 500;
  color: var(--subtitle-color);
  padding-left: 2rem;
}

#email-contact > button {
  width: 12.2rem;
  height: 6.6rem;
  background-color: var(--text-color);
  font-size: 2rem;
  font-weight: 500;
  color: var(--black-text);
  text-align: center;
}

/* ---------------------------------------------infos */
#infos {
  width: 90rem;
  height: 32.3rem;
  display: flex;
  justify-content: space-between;
  padding: 8rem 0 8rem 12rem;
}

.infos-lists {
  display: flex;
  flex-direction: row;
}

.infos-lists > ul > li {
  font-size: 2rem;
  font-weight: 500;
  color: var(--subtitle-color);
  list-style: none;
  margin-bottom: 1rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8rem 8.8rem 0 8.8rem;
}

footer > span {
  font-size: 2rem;
  font-weight: 500;
  color: var(--subtitle-color);
}

footer > #social-media {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}